<%#= render 'paralex_logo' %>
<%= render 'carousel' %>
<div class="container-fluid">
  <div class="container bordered">
    <div class="row d-flex">
      <div class="col-md-7 col-sm-10 mx-auto">
        <div class="row h-100 align-items-center pb-4">
          <div class="heading w-100 text-center justify-content-center mx-auto mb-3">
            <h2 class="">ברוכה הבאה לאתר <strong>חני פישר פאות</strong></h2>
            <h3><strong>אנא השאירי פרטים ליצירת קשר</strong></h3>
          </div>
          <div class="border border-secondary rounded p-4 line">
            <p><em><strong>אצלינו תמצאי את כל סוגי הפאות החדשות, לייס-פרמיום או לייס-שטוח מבית BK Wigs</strong></em></p>
            <ul class="faded">
              <li><strong>מכירת פאות קאסטם מבית BK Wigs</strong></li>
              <li><strong>עיצוב פאות בסגנון מודרני ועכשוי</strong></li>
              <li><strong>חידוש פאות ישנות</strong></li>
              <li><strong>מגוון לייסים בהתאמה אישית למבנה הפנים</strong></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-sm-10 mt-md-5 pt-sm-0 mx-auto">
        <div id="form" class="row d-flex w-md-75  text-center justify-content-center shadow bg-custom mb-3  mx-auto px-3
        rounded
        row-opacity">
          <%= form_for :customer, url: {controller: "main_page", action: "create"}, html: {class:
                                                                                               'form-group
          w-100 mt-3
          mt-sm-1'}, action_name: 'create' do |c| %>
            <%= c.text_field :fname, autofocus: true, required: true, pattern: "[A-Za-z\u0590-\u05FF ]*", title: "בבקשה
            הקלידי אותיות בלבד", class: 'form-control mt-3 rounded text-left
            shadow',
                             placeholder: 'שם פרטי' %>
            <%= c.text_field :lname, placeholder: 'שם משפחה', required: true, pattern: "[A-Za-z\u0590-\u05FF ]*", title: "בבקשה
            הקלידי אותיות בלבד", class: 'form-control mt-3 rounded text-left shadow' %>
            <%= c.email_field :email, pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$", title: "בבקשה הקלידי כתובת מייל
             חוקית",
                              class: 'form-control mt-3  rounded text-left shadow', placeholder: 'אימייל' %>
            <%= c.phone_field :phone, required: true, pattern: "[0-9]{9,13}", title: "בבקשה להקליד מספר טלפון ללא הסימן:
            '-' עד 13 ספרות",
                              class: 'form-control mt-3  rounded text-left shadow', placeholder: 'מספר טלפון' %>
            <%= c.text_area :msg, rows: 4, class: 'form-control mt-3  rounded text-left shadow', placeholder: 'הודעה
          ' %>
            <%= c.submit 'שלחי טופס', class: 'btn btn-outline-secondary shadow mt-3 text-light' %>
            </div>
          <% end %>
          </div>
    </div>
  </div>
</div>
<%= render 'map_google' %>
<%= render 'footer' %>
