<!DOCTYPE html>
<html>
<head>
  <title>פאות חני פישר</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'true' %>

  <%= stylesheet_link_tag 'https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="title" content="חני פישר פאות">
  <meta name="description" content="חני פישר פאות, פאות חני פישר קאסם איכותיות משיער טבעי">
<!--  <meta name="robots" content="all">-->
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

</head>

<body>
<%= google_tag_manager %>
<div class="container-fluid" style="min-height: 80px">
  <div class="container bg-site rounded border-bottom-dark">
    <nav class="navbar navbar-expand-md p-0 text-gold rounded mr-1 mt-3">
      <h1 class="font-weight-bold text-center text-strong mx-auto logo">חני פישר פאות</h1>
      <a href="tel://972525455912" class="pt-3"><i class="fas fa-phone-square tel-size text-gold"></i><p
        class="d-inline-block
          text-dark pl-3 tel-size tel-font">052-5455912</p></a>
      <a class="navbar-brand  mx-auto" href="#">
        <%= image_tag 'Document-page-001.jpg', size: '200x75', alt: 'hani_new_logo', class: 'img-fluid img-media' %>
      </a>
    </nav>
  </div>
  <%= link_to "https://api.whatsapp.com/send?phone=#{@whatsapp_number}&text=%D7%94%D7%99%D7%99%20%D7%90%D7%A0%D7%99%20%D7%9C%D7%A7%D7%95%D7%97%D7%94%20%D7%91%D7%90%D7%AA%D7%A8%20%D7%95%D7%99%D7%A9%20%D7%9C%D7%99%20%D7%A9%D7%90%D7%9C%D7%94", class: 'float', target: "_blank" do %>
    <i class="fab fa-whatsapp wa-size"></i>
  <% end %>
</div>


<%= yield %>
<%#= render 'whatsapp' %>
<%#= render 'map_google' %>
<%#= render 'footer' %>
<%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.slim.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js' %>
<%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' %>
</body>
</html>
